:root {
  --white: white;
  --black: black;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  width: 12px;
  height: 12px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: #5c5f68;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.margin-xhuge {
  margin: 8rem;
}

.text-weight-bold {
  font-weight: 700;
}

.icon-height-small {
  height: 1rem;
}

.heading-style-h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

.text-size-small {
  font-size: .875rem;
}

.fs-styleguide_hero-label {
  color: #191c24;
  text-transform: uppercase;
  background-color: #eee;
  border-radius: .25rem;
  padding: .25rem .375rem;
  font-size: .75rem;
  font-weight: 500;
  text-decoration: none;
}

.padding-vertical {
  padding-left: 0;
  padding-right: 0;
}

.form_input {
  min-height: 3rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #eee;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
}

.form_input::-ms-input-placeholder {
  color: #222;
}

.form_input::placeholder {
  color: #222;
}

.form_input.is-text-area {
  min-height: 8rem;
  padding-top: .75rem;
}

.form_input.is-select-input {
  color: #222;
}

.background-color-tertiary {
  background-color: #dd23bb;
}

.margin-0 {
  margin: 0;
}

.fs-styleguide_heading-header {
  font-size: 6rem;
}

.text-weight-xbold {
  font-weight: 800;
}

.fs-styleguide_header-block {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: start;
  display: grid;
}

.fs-styleguide_spacing {
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  background-image: linear-gradient(to top, rgba(45, 64, 234, .1), rgba(255, 255, 255, 0));
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: stretch;
  display: grid;
  position: relative;
}

.text-weight-normal {
  font-weight: 400;
}

.padding-0 {
  padding: 0;
}

.form_message-success {
  color: #114e0b;
  background-color: #cef5ca;
  padding: 1.25rem;
}

.text-size-tiny {
  font-size: .75rem;
}

.padding-section-medium {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icon-1x1-small {
  width: 1rem;
  height: 1rem;
  flex: none;
}

.text-align-right {
  text-align: right;
}

.text-style-link {
  color: #2d62ff;
  text-decoration: underline;
}

.nav_container {
  width: 100%;
  max-width: 80rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.fs-styleguide_section-header {
  width: 100%;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  border-bottom: 1px solid #eee;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 3rem;
  line-height: 1.4;
  display: grid;
}

.spacer-xhuge {
  width: 100%;
  padding-top: 8rem;
}

.text-size-large {
  font-size: 1.5rem;
}

.spacer-tiny {
  width: 100%;
  padding-top: .125rem;
}

.fs-styleguide_item-header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 2rem;
}

.overflow-visible {
  overflow: visible;
}

.text-weight-medium {
  font-weight: 500;
}

.fs-styleguide_background {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .1);
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  display: flex;
}

.aspect-ratio-square {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.form_checkbox-icon {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  background-size: 90%;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
}

.form_checkbox-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  border-radius: .125rem;
  margin: 0 .5rem 0 0;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.fs-styleguide_2-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_2-col.is-align-start {
  align-items: start;
}

.icon-height-large {
  height: 3rem;
}

.spacer-xlarge {
  width: 100%;
  padding-top: 4rem;
}

.fs-styleguide_classes {
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hero_content {
  max-width: 70rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: center;
  display: grid;
  position: relative;
}

.max-width-xxlarge {
  width: 100%;
  max-width: 80rem;
}

.padding-xxlarge {
  padding: 5rem;
}

.fs-styleguide_4-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.fs-styleguide_background-space {
  width: 1px;
  height: 1px;
  margin: 5rem;
}

.spacer-small {
  width: 100%;
  padding-top: 1rem;
}

.padding-custom1 {
  padding: 1.5rem;
}

.aspect-ratio-portrait {
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.margin-top {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.margin-top.auto {
  margin-top: auto;
}

.hero_grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: relative;
}

.margin-small {
  margin: 1rem;
}

.text-size-regular {
  font-size: 1rem;
}

.fs-styleguide_message {
  color: #5e5515;
  background-color: #fcf8d8;
  border-radius: .25rem;
  padding: .25rem .5rem;
  font-size: .875rem;
}

.padding-xsmall {
  padding: .5rem;
}

.padding-xhuge {
  padding: 8rem;
}

.icon-height-medium {
  height: 2rem;
}

.pointer-events-none {
  pointer-events: none;
}

.form_radio-icon {
  width: .875rem;
  height: .875rem;
  margin-top: 0;
  margin-left: 0;
  margin-right: .5rem;
}

.form_radio-icon.w--redirected-checked {
  width: .875rem;
  height: .875rem;
  border-width: .25rem;
}

.form_radio-icon.w--redirected-focus {
  width: .875rem;
  height: .875rem;
  box-shadow: 0 0 .25rem 0 #3898ec;
}

.padding-custom3 {
  padding: 3.5rem;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.margin-xxhuge {
  margin: 12rem;
}

.max-width-xxsmall {
  width: 100%;
  max-width: 12rem;
}

.fs-styleguide_spacer-box {
  width: 100%;
  background-color: rgba(45, 64, 234, .1);
  border: 1px dashed #2d40ea;
  position: relative;
}

.nav_component {
  width: 100%;
  background-color: #000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.margin-huge {
  margin: 6rem;
}

.fs-styleguide_section {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.fs-styleguide_section.is-vertical {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-columns: 1fr;
}

.padding-left {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

.spacer-xxhuge {
  width: 100%;
  padding-top: 12rem;
}

.fs-styleguide_item {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: start;
  align-items: start;
  justify-items: start;
  padding-bottom: 3rem;
  display: grid;
  position: relative;
}

.fs-styleguide_item.is-stretch {
  justify-items: stretch;
}

.margin-medium {
  margin: 2rem;
}

.text-color-black {
  color: #191c24;
}

.margin-xxlarge {
  margin: 5rem;
}

.margin-xlarge {
  margin: 4rem;
}

.margin-horizontal {
  margin-top: 0;
  margin-bottom: 0;
}

.text-weight-semibold {
  font-weight: 600;
}

.padding-small {
  padding: 1rem;
}

.heading-style-h2 {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #5761d7, #ff55e2);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.625rem;
  font-weight: 500;
  line-height: 1.14;
}

.heading-style-h2.diverdity {
  margin-top: .62rem;
}

.col-image {
  width: 100%;
  border-radius: 1rem;
  margin-top: 0;
}

.max-width-large {
  width: 100%;
  max-width: 48rem;
}

.padding-bottom {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.spacer-huge {
  width: 100%;
  padding-top: 6rem;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.text-color-secondary {
  color: #222;
}

.text-align-center {
  text-align: center;
}

.fs-styleguide_header {
  color: #fff;
  background-color: #191c24;
  background-image: radial-gradient(circle at 100% 100%, rgba(221, 35, 187, .25), rgba(0, 0, 0, 0) 40%), radial-gradient(circle at 0 100%, rgba(45, 98, 255, .3), rgba(0, 0, 0, 0) 60%);
}

.margin-xsmall {
  margin: .5rem;
}

.form_message-error {
  color: #3b0b0b;
  background-color: #f8e4e4;
  margin-top: .75rem;
  padding: .75rem;
}

.heading-style-h3 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.text-style-strikethrough {
  text-decoration: line-through;
}

.pointer-events-auto {
  pointer-events: auto;
}

.text-style-quote {
  border-left: .25rem solid #e2e2e2;
  margin-bottom: 0;
  padding: 0 1.25rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.aspect-ratio-widescreen {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.text-style-italic {
  font-style: italic;
}

.layer {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.max-width-full {
  width: 100%;
  max-width: none;
}

.aspect-ratio-landscape {
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

.fs-styleguide_3-col {
  width: 100%;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.fs-styleguide_3-col.is-align-start {
  align-items: start;
}

.z-index-1 {
  z-index: 1;
  position: relative;
}

.text-size-medium {
  font-size: 1.25rem;
}

.padding-right {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.text-align-left {
  text-align: left;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.max-width-xsmall {
  width: 100%;
  max-width: 16rem;
}

.section_hero {
  min-height: 100svh;
  color: #fff;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.margin-custom2 {
  margin: 2.5rem;
}

.margin-custom3 {
  margin: 3.5rem;
}

.overflow-auto {
  overflow: auto;
}

.nav_menu_link {
  color: #fff;
  padding: 1rem;
}

.margin-right {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.margin-xxsmall {
  margin: .25rem;
}

.padding-custom2 {
  padding: 2.5rem;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #191c24;
  border-radius: .25rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
}

.button.is-text {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
}

.button.is-icon {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.button.is-large {
  padding: 1rem 2rem;
}

.button.is-secondary {
  color: #191c24;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #222;
}

.button.is-small {
  padding: .5rem 1.25rem;
}

.button.is-brand {
  background-color: #2d62ff;
}

.background-color-alternate {
  background-color: #fff;
}

.icon-1x1-medium {
  width: 2rem;
  height: 2rem;
}

.icon-1x1-large {
  width: 2.5rem;
  height: 2.5rem;
}

.padding-xlarge {
  padding: 4rem;
}

.fs-styleguide_item-wrapper {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.max-width-medium {
  width: 100%;
  max-width: 32rem;
}

.form_component {
  margin-bottom: 0;
}

.spacing-clean {
  margin: 0;
  padding: 0;
}

.fs-styleguide_row {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.margin-tiny {
  margin: .125rem;
}

.spacer-large {
  padding-top: 3rem;
}

.padding-large {
  padding: 3rem;
}

.padding-section-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.padding-top {
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.margin-left {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.nav_fixed {
  z-index: 1;
  background-color: var(--white);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.3;
}

.text-weight-light {
  font-weight: 300;
}

.padding-horizontal {
  padding-top: 0;
  padding-bottom: 0;
}

.z-index-2 {
  z-index: 2;
  position: relative;
}

.padding-global {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.form_checkbox {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.padding-xxsmall {
  padding: .25rem;
}

.text-style-nowrap {
  white-space: nowrap;
}

.fs-styleguide_heading-medium {
  font-size: 4rem;
}

.spacer-xxsmall {
  width: 100%;
  padding-top: .25rem;
}

.max-width-small {
  width: 100%;
  max-width: 20rem;
}

.fs-styleguide_empty-box {
  z-index: -1;
  height: 3rem;
  min-width: 3rem;
  background-color: rgba(45, 64, 234, .05);
  border: 1px dashed #2d40ea;
  position: relative;
}

.padding-xxhuge {
  padding: 12rem;
}

.spacer-xxlarge {
  width: 100%;
  padding-top: 5rem;
}

.margin-vertical {
  margin-left: 0;
  margin-right: 0;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

.spacer-xsmall {
  width: 100%;
  padding-top: .5rem;
}

.nav_logo {
  width: 10rem;
}

.background-color-primary {
  color: #fff;
  background-color: #191c24;
}

.fs-styleguide_label {
  color: #fff;
  background-color: #2d62ff;
  border-radius: .25rem;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: .25rem .75rem .3rem;
  font-weight: 600;
  display: flex;
}

.fs-styleguide_label.is-tag {
  background-color: #dd23bb;
}

.text-style-muted {
  opacity: .6;
}

.heading-style-h6 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.padding-medium {
  padding: 2rem;
}

.spacer-medium {
  width: 100%;
  padding-top: 2rem;
}

.padding-section-large {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.text-color-alternate {
  color: #fff;
}

.margin-bottom {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.fs-styleguide_1-col {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.heading-style-h5 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.5;
}

.nav_button {
  padding: 1rem;
}

.padding-huge {
  padding: 6rem;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}

.background-color-secondary {
  background-color: #2d62ff;
}

.margin-custom1 {
  margin: 1.5rem;
}

.form_radio {
  flex-direction: row;
  align-items: center;
  margin-bottom: .5rem;
  padding-left: 0;
  display: flex;
}

.margin-large {
  margin: 3rem;
}

.padding-tiny {
  padding: .125rem;
}

.fs-styleguide_spacing-all {
  display: none;
}

.max-width-xlarge {
  width: 100%;
  max-width: 64rem;
}

.heading-style-h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
}

.hide {
  display: none;
}

.text-style-allcaps {
  text-transform: uppercase;
}

.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1200px;
  background-color: rgba(221, 221, 221, 0);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-regular {
  width: 100%;
  max-width: 1280px;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.nav-menu-wrapper {
  width: 100%;
  justify-content: space-between;
}

.nav-menu {
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 0;
  display: flex;
}

.nav-link {
  color: #212121;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 24px 20px;
  font-size: 1rem;
  line-height: 1.2;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.mobile-margin-top-10 {
  margin-left: auto;
}

.nav-button-wrapper {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  background-image: linear-gradient(#464ff1, #891979);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
  padding: 1.25rem 1.5rem;
  text-decoration: none;
  display: flex;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: rgba(26, 27, 31, 0);
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.line {
  width: 2px;
  height: 2.1875rem;
  background-image: linear-gradient(#484eef, #881a7c);
}

.btn-text {
  color: var(--white);
  font-size: 1rem;
  line-height: 1.4;
}

.spacer-nav {
  width: 100%;
  padding-top: 5.45rem;
}

.section-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gradient-span {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #5761d7, #ff55e2);
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}

.button-wrapper {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  background-image: linear-gradient(#464ff1, #891979);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: .62rem 1.5rem;
  text-decoration: none;
  display: flex;
}

.button-wrapper.is-second {
  border-radius: 8px;
  padding: 2px;
}

.light-btn-wrap {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  background-color: #353035;
  border-radius: 6px;
  padding: .62rem 1.5rem;
  display: flex;
}

.section-snowball {
  background-color: #f2f4f9;
  overflow: hidden;
}

._2col-grid {
  grid-column-gap: 8rem;
  grid-row-gap: 8rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: relative;
}

.col-content {
  max-width: 70rem;
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  color: #5f5f75;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  justify-content: flex-start;
  align-items: start;
  justify-items: center;
  font-size: 1.5rem;
  line-height: 1.15;
  display: flex;
  position: relative;
}

.section-faq {
  overflow: hidden;
}

.section-credits {
  text-align: center;
  overflow: hidden;
}

._4-col-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.credits-card {
  border-radius: 1.0625rem;
  padding: 1rem;
  font-size: .875rem;
  box-shadow: 0 0 36px rgba(0, 0, 0, .07);
}

.spacer-xmedium {
  width: 100%;
  padding-top: 2.5rem;
}

.section-diversify {
  text-align: center;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.diversify-component {
  z-index: 1;
  position: relative;
}

.tag {
  color: var(--white);
  letter-spacing: .1875rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.diversify-card {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1.5rem;
  display: flex;
}

.diversify-heading {
  color: var(--white);
  letter-spacing: -.04688rem;
  font-size: 1.375rem;
  font-weight: 400;
}

.section-get-started {
  text-align: center;
  overflow: hidden;
}

.started-card {
  max-width: 24.25rem;
  color: var(--white);
  text-align: left;
  background-image: linear-gradient(#161722, #2b2c3d 51%, #161620);
  border-radius: 1rem;
  padding: 2rem;
}

.gs-cta {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  color: var(--white);
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  display: flex;
}

.embed {
  justify-content: center;
  align-items: center;
  display: flex;
}

.gs-heading {
  font-weight: 500;
}

.gs-cards-component {
  grid-column-gap: 4.7rem;
  grid-row-gap: 4.7rem;
  justify-content: center;
  display: flex;
}

.footer {
  border-top: 1px solid #c1c1c1;
  overflow: hidden;
}

.footer-component {
  border-bottom: 1px solid #c1c1c1;
  justify-content: space-between;
  display: flex;
}

.form {
  max-width: 20rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 2fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.field {
  height: 100%;
  color: var(--black);
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  padding: .62rem 1rem;
  font-size: .875rem;
}

.field::-ms-input-placeholder {
  color: #afafaf;
  font-size: .875rem;
}

.field::placeholder {
  color: #afafaf;
  font-size: .875rem;
}

.footer-logo-wrap {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  border-bottom: 1px #c1c1c1;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 3rem;
  display: flex;
}

.gs {
  background-color: #000;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  padding: .62rem 1.25rem;
}

.footer-right {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
  display: flex;
}

.footer-col {
  flex-direction: column;
  display: flex;
}

.footer-h2 {
  color: var(--black);
  margin-bottom: 1.25rem;
  font-size: 1.1875rem;
  font-weight: 400;
  line-height: 1.6;
}

.footer-h2.c {
  opacity: 0;
}

.footer-link {
  color: #5f5f75;
  margin-bottom: .5rem;
  font-size: .9375rem;
  text-decoration: none;
  display: inline-block;
}

.social-links {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  display: flex;
}

.section-about {
  background-color: #f2f4f9;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .margin-xhuge {
    margin: 6rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .fs-styleguide_heading-header {
    font-size: 4rem;
  }

  .padding-section-medium {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .spacer-xhuge {
    padding-top: 6rem;
  }

  .max-width-full-tablet {
    width: 100%;
    max-width: none;
  }

  .fs-styleguide_2-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .spacer-xlarge {
    padding-top: 3rem;
  }

  .padding-xxlarge {
    padding: 4rem;
  }

  .fs-styleguide_4-col {
    grid-template-columns: 1fr;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hero_grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  .hide-tablet {
    display: none;
  }

  .padding-xhuge {
    padding: 6rem;
  }

  .margin-xxhuge {
    margin: 8rem;
  }

  .margin-huge {
    margin: 5rem;
  }

  .fs-styleguide_section {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .spacer-xxhuge {
    padding-top: 8rem;
  }

  .margin-medium {
    margin: 1.5rem;
  }

  .margin-xxlarge {
    margin: 4rem;
  }

  .margin-xlarge {
    margin: 3rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .spacer-huge {
    padding-top: 5rem;
  }

  .fs-styleguide_3-col {
    grid-template-columns: 1fr;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .section_hero {
    padding-top: 3rem;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-xlarge {
    padding: 3rem;
  }

  .spacer-large {
    padding-top: 2.5rem;
  }

  .padding-large {
    padding: 2.5rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .fs-styleguide_heading-medium {
    font-size: 3rem;
  }

  .padding-xxhuge {
    padding: 8rem;
  }

  .spacer-xxlarge {
    padding-top: 4rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .padding-medium {
    padding: 1.5rem;
  }

  .spacer-medium {
    padding-top: 1.5rem;
  }

  .padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .fs-styleguide_1-col {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }

  .nav_button {
    color: #fff;
  }

  .padding-huge {
    padding: 5rem;
  }

  .margin-large {
    margin: 2.5rem;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu {
    background-color: #fff;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    display: flex;
  }

  .nav-link {
    padding: 10px 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .mobile-margin-top-10 {
    margin-left: 0;
  }

  .nav-button-wrapper {
    width: 100%;
    margin-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    color: #fff;
    background-color: #5761d7;
    border-radius: 12px;
  }

  .line {
    display: none;
  }

  .spacer-nav {
    padding-top: 3rem;
  }

  .button-wrapper {
    width: 100%;
    margin-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .light-btn-wrap {
    width: 100%;
    justify-content: center;
  }

  ._2col-grid {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
  }

  ._4-col-grid {
    grid-template-columns: 1fr 1fr;
  }

  .spacer-xmedium {
    padding-top: 1.5rem;
  }

  .gs-cards-component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .footer-component {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }

  .footer-right {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
}

@media screen and (max-width: 767px) {
  .margin-xhuge {
    margin: 4rem;
  }

  .heading-style-h4 {
    font-size: 1rem;
  }

  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .padding-section-medium {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .fs-styleguide_section-header {
    font-size: .875rem;
  }

  .spacer-xhuge {
    padding-top: 4rem;
  }

  .text-size-large {
    font-size: 1.25rem;
  }

  .spacer-xlarge {
    padding-top: 2rem;
  }

  .padding-xxlarge {
    padding: 3rem;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .padding-xhuge {
    padding: 4rem;
  }

  .margin-xxhuge {
    margin: 4.5rem;
  }

  .margin-huge {
    margin: 3.5rem;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .hide-mobile-landscape {
    display: none;
  }

  .spacer-xxhuge {
    padding-top: 4.5rem;
  }

  .margin-medium {
    margin: 1.25rem;
  }

  .margin-xxlarge {
    margin: 3rem;
  }

  .margin-xlarge {
    margin: 2rem;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .heading-style-h2 {
    font-size: 2rem;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .spacer-huge {
    padding-top: 3.5rem;
  }

  .heading-style-h3 {
    font-size: 1.5rem;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .padding-xlarge {
    padding: 2rem;
  }

  .spacer-large {
    padding-top: 1.5rem;
  }

  .padding-large {
    padding: 1.5rem;
  }

  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-landscape {
    width: 100%;
    max-width: none;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .heading {
    font-size: 2rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .padding-global {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .text-style-nowrap {
    white-space: normal;
  }

  .fs-styleguide_heading-medium {
    font-size: 2rem;
  }

  .padding-xxhuge {
    padding: 4.5rem;
  }

  .spacer-xxlarge {
    padding-top: 3rem;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h6 {
    font-size: .75rem;
  }

  .padding-medium {
    padding: 1.25rem;
  }

  .spacer-medium {
    padding-top: 1.25rem;
  }

  .padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .heading-style-h5 {
    font-size: .875rem;
  }

  .padding-huge {
    padding: 3.5rem;
  }

  .margin-large {
    margin: 1.5rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu {
    flex-direction: column;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .spacer-nav {
    padding-top: 2rem;
  }

  .col-content {
    font-size: 1rem;
  }

  ._4-col-grid {
    grid-template-columns: 1fr;
  }

  .spacer-xmedium {
    padding-top: 1.25rem;
  }

  .gs-cards-component {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer-component {
    flex-direction: column;
    align-items: center;
  }

  .footer-right {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .padding-vertical {
    padding-left: 0;
    padding-right: 0;
  }

  .margin-top {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .hide-mobile-portrait {
    display: none;
  }

  .padding-left {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .max-width-full-mobile-portrait {
    width: 100%;
    max-width: none;
  }

  .margin-horizontal {
    margin-top: 0;
    margin-bottom: 0;
  }

  .padding-bottom {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .padding-right {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .fs-styleguide_row {
    flex-wrap: wrap;
  }

  .padding-top {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .margin-left {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }

  .heading {
    font-size: 2.5rem;
  }

  .padding-horizontal {
    padding-top: 0;
    padding-bottom: 0;
  }

  .margin-vertical {
    margin-left: 0;
    margin-right: 0;
  }

  .margin-bottom {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-button-wrapper, .button-wrapper {
    width: auto;
  }
}

#w-node-e4636d79-8a68-0eeb-a4fe-b5ab59dbec3f-e10493db {
  justify-self: center;
}

#w-node-e4636d79-8a68-0eeb-a4fe-b5ab59dbec44-e10493db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_71aee6ef-7bb8-209b-6de7-114a419557cf-e10493db {
  justify-self: center;
}

#w-node-_2d9ac39a-5744-ec86-354c-3e1b9edfe9d4-e10493db, #w-node-_5e367201-52a1-e73a-feec-a356449a4038-e10493db, #w-node-_8289f565-ffc3-3d83-51be-da5516a322e6-e10493db, #w-node-_188c120e-9fd5-0586-d204-0547ebeed801-e10493db {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_04334691-f922-d088-ddb3-23540d79fb8d-e10493db {
  justify-self: center;
}

#w-node-a9581de8-53d1-3783-345f-75ddb006c788-e10493db {
  align-self: center;
  justify-self: center;
}

#email.w-node-_577d6c8c-226b-1b99-08ba-cf987bb0dd0b-e10493db {
  align-self: stretch;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90758-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90777-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b9077c-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90781-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90786-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b9078c-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90792-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90798-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b9087b-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90883-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b9089a-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b908b3-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b908b6-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b908b8-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b908bb-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b9090d-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90917-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90918-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b9098c-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90991-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90996-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b9099b-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909a0-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909a5-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909af-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909b4-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909b9-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909be-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909c3-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909c8-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909cd-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909d2-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909d7-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909dc-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909e1-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b909e5-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b909e6-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909eb-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909f0-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b909f5-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a0a-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a0f-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a14-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a19-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a1e-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a23-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a2d-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a32-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a37-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a3c-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a41-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a46-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a4b-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a50-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a55-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a5a-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a5f-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a63-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a64-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a69-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a6e-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a73-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a85-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a8a-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a8f-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a94-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a99-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90a9e-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90aa3-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90aa8-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90aad-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90ab2-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90ab6-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90ab7-e6f8917b {
  justify-self: start;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90aba-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90b3d-e6f8917b, #w-node-fc2eb3d9-d213-1e03-f78d-c58592b90b6a-e6f8917b {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-fc2eb3d9-d213-1e03-f78d-c58592b90bae-e6f8917b {
  justify-self: start;
}


